#works {
    width: 100%;
    height: 100vh;
}


.works_title {
    position: relative;
    top: 1.5em;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    /* border: 2px solid orange; */
}

.works_container {
    width: 100%;
    height: 100%;
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.work_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    /* border: 2px solid orange; */
}

.work_title {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--pridark);
    border-bottom: 1px solid var(--pribase);
}

.work_descript{
    font-size: 1em;
    font-weight: 300;
    color: var(--pridark);
    text-align: center;
}

@media (max-width: 1155px) {

    .works_title {
        font-size: 2.7em;
    }

    .work_title {
        font-size: 1.5em;
    }
}

@media (max-width: 941px) {

    .works_title {
        font-size: 2.4em;
    }

    .work_title {
        font-size: 1.2em;
    }
}

@media (max-width: 810px) {

    .works_title {
        font-size: 2em;
    }
}

@media (max-width: 631px) {

    .works_container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
        /* align-items: right;
        justify-content: flex-start; */
    }

    .works_title {
        font-size: 1.5em;
    }

    .work_card {
        display: flex;
        flex-direction: row-reverse;
    }

    .work_title {
        width: 20%;
        padding-left: 1em;
        font-size: 1em;
        border-bottom: none;
        border-left: 1px solid var(--pribase);
    }

    .work_descript {
        font-size: 0.8em;
        padding-right: 1em;
        width: 400px;
        text-align: right;
    }
}

@media (max-width: 558px) {

    .works_container {
        padding: 2.5em 2em;
    }

    .work_descript {
        width: 250px;
    }

}